<footer class="footer">
    </span>
    <span class="footer__copyright">
        &copy; <%- date(Date.now(), 'YYYY') %> - 本站由 <a href="/">@sud0</a> 创建，基于 <a href="http://hexo.io">Hexo</a> 搭建。
    </span>
    <span class="footer__copyright">
        站点采用 <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/cn/">署名-非商用-相同方式共享 3.0</a> 许可协议，转载请保留原文链接及作者。
    </span>
    <span class="footer__copyright">
        感谢<a href="http://github.com/onevcat" target="_blank">@onevcat</a>原创，由<a href="https://github.com/monniya/">@Monniya</a> 修改的 <a href="https://github.com/monniya/hexo-theme-new-vno ">new-vno</a> 主题。
    </span>
    <script src="http://s95.cnzz.com/z_stat.php?id=1260564302&web_id=1260564302" language="JavaScript"></script>
</footer>